@using FinalFantasyMVC.Models
@model GamePO
@{
    ViewBag.Title = "Update Game";
}

<h2>UpdateGame</h2>
@using (Html.BeginForm("UpdateGame", "Game", FormMethod.Post))
{
    @Html.HiddenFor(model => Model.GameID)
    <div class="form">
        @Html.LabelFor(model => Model.GameTitle)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.GameTitle, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.GameTitle, "", new { @style = "color: red"})
        </div>
    </div>
    <div class="form">
        @Html.LabelFor(model => Model.RomanNumeral)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.RomanNumeral, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.RomanNumeral, "", new { @style = "color: red"})
        </div>
    </div>
    <div class="form">
        @Html.LabelFor(model => Model.ReleaseDate)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.ReleaseDate, "", new { @style = "form-control" })
            @Html.ValidationMessageFor(x => x.ReleaseDate, "", new { @style = "color: red"})
        </div>
    </div>
    <div class="form">
        @Html.LabelFor(model => Model.CopiesSold)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.CopiesSold, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.CopiesSold, "", new { @style = "color: red"})
        </div>
    </div>
    <div class="form">
        @Html.LabelFor(model => Model.GameSummary)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.GameSummary, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.GameSummary, "", new { @style = "color: red"})
        </div>
    </div>
    <div class="form">
        @Html.LabelFor(model => Model.Price)
        <div class="form-group">
            @Html.TextBoxFor(model => Model.Price, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Price, "", new { @style = "color: red"})
        </div>
    </div>
    <input class="btn btn-success" type="submit" value="Update"/>
}
